<config>
    <modules>
        <Meobook_Frontadmin>
            <version>0.0.2</version>
        </Meobook_Frontadmin>
    </modules>
    <frontend>
        <routers>
            <meobookfrontadmin>
                <use>standard</use>
                <args>
                    <module>Meobook_Frontadmin</module>
                    <frontName>frontadmin</frontName>
                </args>
            </meobookfrontadmin>
        </routers>
        <layout>
            <updates>
                <examplefpc>
                    <file>frontadmin.xml</file>
                </examplefpc>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <examplefpc>
                    <file>frontadmin.xml</file>
                </examplefpc>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Meobook_Frontadmin after="Mage_Adminhtml">Meobook_Frontadmin</Meobook_Frontadmin>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <blocks>
            <meobookfrontadmin>
                <class>Meobook_Frontadmin_Block</class>
            </meobookfrontadmin>
        </blocks>
        <helpers>
            <meobookfrontadmin>
                <class>Meobook_Frontadmin_Helper</class>
            </meobookfrontadmin>
        </helpers>
        <models>
            <meobookfrontadmin>
                <class>Meobook_Frontadmin_Model</class>
            </meobookfrontadmin>
        </models>
        <events>
            <controller_action_predispatch>
                <observers>
                    <frontadmin_observer>
                        <type>singleton</type>
                        <class>meobookfrontadmin/observer</class>
                        <method>setEditUrl</method>
                    </frontadmin_observer>
                </observers>
            </controller_action_predispatch>
<!--             <controller_action_layout_generate_blocks_after>
                <observers>
                    <frontadmin_init>
                        <type>singleton</type>
                        <class>meobookfrontadmin/observer</class>
                        <method>initFrontAdmin</method>
                    </frontadmin_init>
                </observers>
            </controller_action_layout_generate_blocks_after> -->
        </events>
    </global>
</config>