<config>
    <modules>
        <Meobook_Frontadmin>
            <version>0.0.0.1</version>
        </Meobook_Frontadmin>
    </modules>
    <frontend>
        <routers>
            <meobookfrontadmin>
                <use>standard</use>
                <args>
                    <module>Meobook_Frontadmin</module>
                    <frontName>frontadmin</frontName>
                </args>
            </meobookfrontadmin>
        </routers>
        <layout>
            <updates>
                <meobookfrontadmin>
                    <file>frontadmin.xml</file>
                </meobookfrontadmin>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <meobookfrontadmin>
                <class>Meobook_Frontadmin_Block</class>
            </meobookfrontadmin>
        </blocks>
        <helpers>
            <meobookfrontadmin>
                <class>Meobook_Frontadmin_Helper</class>
            </meobookfrontadmin>
        </helpers>
        <models>
            <meobookfrontadmin>
                <class>Meobook_Frontadmin_Model</class>
            </meobookfrontadmin>
        </models>
        <events>
            <controller_action_predispatch>
                <observers>
                    <frontadmin_observer>
                        <type>singleton</type>
                        <class>meobookfrontadmin/observer</class>
                        <method>setEditUrl</method>
                    </frontadmin_observer>
                </observers>
            </controller_action_predispatch>
        </events>
    </global>
</config>